.datatable {
  height: 600px;
  padding: 20px;

  .datatableTitle {
    width: 100%;
    color: gray;
    font-size: 24px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: green;
      border: 1px solid green;
      padding: 5px;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .cellWithImg {
    display: flex;
    align-items: center;

    .cellImg {
      height: 32px;
      width: 32px;
      border-radius: 50%;
      margin-right: 20px;
      object-fit: cover;
    }
  }

  .cellWithStatus {
    padding: 5px;
    border-radius: 5px;

    &.active {
      color: green;
      background-color: rgba(0, 128, 0, 0.05);
    }
    &.passive {
      color: crimson;
      background-color: rgba(232, 147, 147, 0.05);
    }
    &.pending {
      color: goldenrod;
      background-color: rgba(225, 217, 0, 0.05);
    }
  }

  .cellAction {
    display: flex;
    align-items: center;
    gap: 15px;

    .viewBtn {
      padding: 2px 5px;
      border-radius: 5px;
      color: darkblue;
      border: 1px dotted rgba(0, 0, 139, 0.408);
    }
    .deleteBtn {
      padding: 2px 5px;
      border-radius: 5px;
      color: crimson;
      border: 1px dotted rgba(220, 20, 60, 0.385);
    }
  }
}
